RewriteEngine on

#suPHP_ConfigPath /home/dancin3/public_html
AddHandler application/x-httpd-php53 .php .php5

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
 </IfModule>
</FilesMatch>

# Do not allow browsing indexes. (-Indexes)
# MultiViews MUST be off for this thing to work right! (-MultiViews)
Options -Indexes -MultiViews

# DOMAIN NAME UNIFICATION
RewriteCond %{HTTP_HOST} ^mousepawgames\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mousepawgames\.com$
RewriteCond %{HTTP_HOST} ^mousepawgames\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mousepawgames\.net$
RewriteRule ^/?$ "http\:\/\/www\.mousepawgames\.com\/" [R=301,L]

# SOCIAL REDIRECTS
RewriteRule ^out\/enews$ "http\:\/\/mousepawgames\.com\/enews" [L]
RewriteRule ^out\/enews\/pawnews$ "http\:\/\/mousepawgames\.com\/enews\/mail.cgi\/list\/pawnews\/" [L]
RewriteRule ^out\/enews\/yellowsheets$ "http\:\/\/mousepawgames\.com\/enews\/mail.cgi\/list\/yellowsheets\/" [L]

Redirect 301 /out/facebook /news/articles/leaving_facebook
Redirect 301 /facebook /news/articles/leaving_facebook
RewriteRule ^out\/twitter$ "https\:\/\/twitter\.com\/mousepawgames" [L]
Redirect 301 /twitter /out/twitter
RewriteRule ^out\/linkedin$ "http\:\/\/linkedin\.com\/company/mousepaw-games" [L]
RewriteRule ^out\/github$ "http\:\/\/github\.com\/mousepawmedia" [L]
RewriteRule ^out\/google\+$ "http\:\/\/plus\.google\.com\/\+Mousepawgames" [L]
RewriteRule ^out\/youtube$ "http\:\/\/youtube\.com\/mousepawgames" [L]
RewriteRule ^out\/youtube\/subscribe$ "http\:\/\/youtube\.com\/subscription_center\?add_user\=mousepawgames" [L]

# ERROR PAGES
ErrorDocument 403 /mousepawgames/403.php
ErrorDocument 404 /mousepawgames/404.php

RewriteRule ^header.php "/header.php [L,R=301]

RewriteRule ^software\/slannan\/?$ "/slannan.php" [NC,L]

# COMPANY PAGES
RewriteRule ^company\/?$ "https\:\/\/mousepawmedia\.com\/company" [L]
Redirect 301 /about /company

RewriteRule ^company\/connect\/?$ "https\:\/\/mousepawmedia\.com\/connect" [L]
Redirect 301 /contact /company/connect
Redirect 301 /connect /company/connect
Redirect 301 /company/contact /company/connect
Redirect 301 /follow /company/connect
Redirect 301 /news/follow /company/connect

RewriteRule ^company\/faq\/?$ "/faq.php" [NC,L]
Redirect 301 /faq /company/faq
Redirect 301 /news/faq /company/faq

RewriteRule ^company\/philosophy\/?$ "https\:\/\/mousepawmedia\.com\/philosophy" [L]
Redirect 301 /philosophy /company/philosophy

RewriteRule ^company\/team\/?$ "https\:\/\/mousepawmedia\.com\/team" [L]
Redirect 301 /team /company/team
Redirect 301 /staff /company/team

RewriteRule ^company\/technologies\/?$ "/technologies.php" [NC,L]
Redirect 301 /technologies /company/technologies
Redirect 301 /technology /company/technologies
Redirect 301 /tech /company/technologies

# NEWS PAGES
RewriteRule ^news\/?$ "/news.php" [NC,L]
RewriteRule ^news\/articles\/(\w*)\/?$ "article-$1.php" [NC,L]

# SOFTWARE PAGES
RewriteRule ^software\/?$ "/software.php" [NC,L]
Redirect 301 /labs /software
Redirect 301 /labs/software /software
Redirect 301 /projects /software

RewriteRule ^software\/diamondquest\/?$ "/diamondquest.php" [NC,L]
Redirect 301 /diamondquest /software/diamondquest
Redirect 301 /projects/diamondquest /software/diamondquest

RewriteRule ^software\/infiltrator\/?$ "/infiltrator.php" [NC,L]
Redirect 301 /infiltrator /software/infiltrator
Redirect 301 /projects/infiltrator /software/infiltrator

RewriteRule ^software\/lightrift\/?$ "/lightrift.php" [NC,L]
Redirect 301 /lightrift /software/lightrift
Redirect 301 /projects/lightrift /software/lightrift

RewriteRule ^software\/osr\/?$ "/operationspyrat.php" [NC,L]
Redirect 301 /osr /software/osr
Redirect 301 /software/operationspyrat /projects/osr
Redirect 301 /operationspyrat /projects/osr
Redirect 301 /projects/osr /software/osr

RewriteRule ^software\/redstring\/?$ "/redstring.php" [NC,L]
Redirect 301 /redstring /software/redstring
Redirect 301 /projects/redstring /software/redstring

RewriteRule ^software\/slannan\/?$ "/slannan.php" [NC,L]
Redirect 301 /slannan /software/slannan
Redirect 301 /projects/slannan /software/slannan

# LIBRARIES PAGES
RewriteRule ^libraries\/?$ "/libraries.php" [NC,L]

RewriteRule ^libraries\/anari\/?$ "/anari.php" [NC,L]
Redirect 301 /anari /libraries/anari
Redirect 301 /projects/anari /libraries/anari

RewriteRule ^libraries\/pawlib\/?$ "/pawlib.php" [NC,L]
Redirect 301 /pawlib /libraries/pawlib
Redirect 301 /projects/pawlib /libraries/pawlib

# I'm not 100% certain these will work. Watch them!
Redirect 301 /goldilocks /libraries/pawlib#goldilocks
Redirect 301 /iochannel /libraries/pawlib#iochannel
Redirect 301 /pawstring /libraries/pawlib#pawstring
Redirect 301 /puppeteerxml /libraries/pawlib#puppeteerxml

RewriteRule ^libraries\/punchline\/?$ "/punchline.php" [NC,L]
Redirect 301 /punchline /libraries/punchline
Redirect 301 /projects/punchline /libraries/punchline

RewriteRule ^libraries\/ratscript\/?$ "/ratscript.php" [NC,L]
Redirect 301 /ratscript /libraries/ratscript
Redirect 301 /projects/ratscript /libraries/ratscript

RewriteRule ^libraries\/simplexpress\/?$ "/simplexpress.php" [NC,L]
Redirect 301 /simplexpress /libraries/simplexpress
Redirect 301 /projects/simplexpress /libraries/simplexpress

RewriteRule ^libraries\/trailcrest\/?$ "/trailcrest.php" [NC,L]
Redirect 301 /trailcrest /libraries/trailcrest
Redirect 301 /projects/trailcrest /libraries/trailcrest

RewriteRule ^libraries\/stormsound\/?$ "/stormsound.php" [NC,L]
Redirect 301 /stormsound /libraries/stormsound
Redirect 301 /projects/stormsound /libraries/stormsound

# PARTICIPATE PAGES
RewriteRule ^participate\/?$ "/participate.php" [NC,L]
Redirect 301 /getinvolved /participate

RewriteRule ^participate\/internships$ "https\:\/\/mousepawmedia\.com\/internships" [L]
Redirect 301 /careers /participate/internships
Redirect 301 /getinvolved/internships /participate/internships
Redirect 301 /internships /participate/internships
Redirect 301 /jobs /participate/internships

RewriteRule ^participate\/testers$ "/testers.php" [NC,L]
Redirect 301 /alpha /participate/testers
Redirect 301 /beta /participate/testers
Redirect 301 /getinvolved/alpha /participate/testers
Redirect 301 /getinvolved/beta /participate/testers
Redirect 301 /testers /participate/testers
Redirect 301 /testing /participate/testers

RewriteRule ^participate\/opensource\/?$ "https\:\/\/mousepawmedia\.com\/developers" [L]
Redirect 301 /getinvolved/opensource /participate/opensource
Redirect 301 /opensource /participate/opensource

# RESOURCES PAGES
RewriteRule ^resources\/?$ "/resources.php" [NC,L]

RewriteRule ^resources/standards\/?$ "/standards.php" [NC,L]
Redirect 301 /standards /resources/standards

RewriteRule ^resources/education\/?$ "/education.php" [NC,L]
Redirect 301 /education /resources/education

RewriteRule ^resources/education/yellowsheets\/?$ "/yellowsheets.php" [NC,L]
Redirect 301 /yellowsheets /resources/education/yellowsheets
Redirect 301 /labs/yellowsheets /resources/education/yellowsheets

# LEGAL STUFF
RewriteRule ^termsofuse\/?$ "https\:\/\/mousepawmedia\.com\/termsofuse" [L]
RewriteRule ^privacy\/?$ "https\:\/\/mousepawmedia\.com\/privacy" [L]
RewriteRule ^legal\/?$ "https\:\/\/mousepawmedia\.com\/legal" [L]
RewriteRule ^termsofdevelopment\/?$ "https\:\/\/mousepawmedia\.com\/termsofdevelopment" [L]
