# Do not allow browsing indexes. (-Indexes)
# MultiViews MUST be off for this thing to work right! (-MultiViews)
# Includes allows using the common header/footer (etc) files.
Options +FollowSymLinks +Includes -Indexes -MultiViews

# Allow rewriting URLs
RewriteEngine on

# This allows SSI conditionals
SSILegacyExprParser on

# Process SSI in .html files
AddHandler server-parsed .html

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
 </IfModule>
</FilesMatch>

# DOMAIN NAME UNIFICATION
RewriteCond %{HTTP_HOST} ^mousepawgames\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mousepawgames\.com$
RewriteRule ^/?$ "http\:\/\/www\.mousepawgames\.com\/" [R=301,L]

# ERROR PAGES
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteRule ^games\/?$ "/" [NC,L]
RewriteRule ^games\/diamondquest\/?$ "/" [NC,L]
RewriteRule ^games\/infiltrator\/?$ "/" [NC,L]
RewriteRule ^games\/operationspyrat\/?$ "/" [NC,L]

RewriteRule ^sitemap\/?$ "/sitemap.html" [NC,L]

# SOCIAL REDIRECTS
RewriteRule ^out\/github$ "https\:\/\/github\.com\/mousepawmedia" [L]
RewriteRule ^out\/google\+$ "http\:\/\/plus\.google\.com\/\+MousePawMedia" [L]
RewriteRule ^out\/internetarchive$ "https\:\/\/archive\.org\/details\/@mousepaw_games" [L]
RewriteRule ^out\/linkedin$ "http\:\/\/linkedin\.com\/company/mousepaw-media" [L]
RewriteRule ^out\/sourceforge$ "https\:\/\/sourceforge\.net\/u\/mousepawmedia" [L]
RewriteRule ^out\/twitter$ "https\:\/\/twitter\.com\/mousepawmedia" [L]
RewriteRule ^out\/twitter_mpg$ "https\:\/\/twitter\.com\/mousepawgames" [L]
RewriteRule ^out\/youtube$ "https\:\/\/youtube\.com\/mousepawgames" [L]
RewriteRule ^out\/youtube\/subscribe$ "https\:\/\/youtube\.com\/subscription_center\?add_user\=mousepawgames" [L]

RewriteRule ^out\/podcast\/android$ "https\:\/\/subscribeonandroid\.com\/mousepawmedia\.com\/rss\/mousepawdcast\.xml" [L]
RewriteRule ^out\/podcast\/apple$ "https\:\/\/itunes\.apple\.com\/us\/podcast\/mousepawdcast\/id1242557040" [L]
RewriteRule ^out\/podcast\/google$ "https\:\/\/playmusic\.app\.goo\.gl\/\?ibi\=com\.google\.PlayMusic\&isi\=691797987\&ius\=googleplaymusic\&link\=https\:\/\/play\.google\.com\/music\/m\/I24cnk4y2t7satyj5v7iu6pivvq?t\%3DMousePaw\'dCast\%26pcampaignid\%3DMKT\-na\-all\-co\-pr\-mu\-pod\-16" [L]
RewriteRule ^out\/podcast\/overcast$ "https\:\/\/overcast\.fm\/itunes1242557040\/mousepawdcast" [L]
RewriteRule ^out\/podcast\/tunein$ "https\:\/\/tunein\.com\/radio\/MousePawdCast\-p1002800" [L]
RewriteRule ^out\/podcast\/iheartradio$ "https\:\/\/iheart\.com\/podcast\/428\-MousePawdCast\-28198080" [L]

# LEGAL STUFF

RewriteRule ^communityrules\/?$ "https\:\/\/mousepawmedia\.com\/communityrules" [L]
RewriteRule ^termsofuse\/?$ "https\:\/\/mousepawmedia\.com\/termsofuse" [L]
RewriteRule ^privacy\/?$ "https\:\/\/mousepawmedia\.com\/privacy" [L]
RewriteRule ^legal\/?$ "https\:\/\/mousepawmedia\.com\/legal" [L]
RewriteRule ^termsofdevelopment\/?$ "https\:\/\/mousepawmedia\.com\/termsofdevelopment" [L]

















# REDIRECT TO NEW SITE
RewriteRule ^company\/?$ "https\:\/\/mousepawmedia\.com\/company" [L]
Redirect 301 /about /company

RewriteRule ^company\/connect\/?$ "https\:\/\/mousepawmedia\.com\/connect" [L]
Redirect 301 /contact /company/connect
Redirect 301 /connect /company/connect
Redirect 301 /company/contact /company/connect
Redirect 301 /follow /company/connect
Redirect 301 /news/follow /company/connect

RewriteRule ^company\/faq\/?$ "https\:\/\/mousepawmedia\.com\/faq" [L]
Redirect 301 /faq /company/faq
Redirect 301 /news/faq /company/faq

RewriteRule ^company\/philosophy\/?$ "https\:\/\/mousepawmedia\.com\/philosophy" [L]
Redirect 301 /philosophy /company/philosophy

RewriteRule ^company\/team\/?$ "https\:\/\/mousepawmedia\.com\/team" [L]
Redirect 301 /team /company/team
Redirect 301 /staff /company/team

RewriteRule ^company\/technologies\/?$ "https\:\/\/mousepawmedia\.com\/developers\/technology" [L]
Redirect 301 /technologies /company/technologies
Redirect 301 /technology /company/technologies
Redirect 301 /tech /company/technologies

RewriteRule ^news\/?$ "https\:\/\/mousepawmedia\.com\/news" [L]

RewriteRule ^software\/?$ "https\:\/\/mousepawmedia\.com\/projects\/software" [L]
Redirect 301 /labs /software
Redirect 301 /labs/software /software
Redirect 301 /projects /software

RewriteRule ^software\/lightrift\/?$ "https\:\/\/mousepawmedia\.com\/projects\/software\/lightrift" [L]
Redirect 301 /lightrift /software/lightrift
Redirect 301 /projects/lightrift /software/lightrift

RewriteRule ^software\/redstring\/?$ "https\:\/\/mousepawmedia\.com\/projects\/software\/redstring" [L]
Redirect 301 /redstring /software/redstring
Redirect 301 /projects/redstring /software/redstring

RewriteRule ^libraries\/?$ "https\:\/\/mousepawmedia\.com\/libraries" [L]

RewriteRule ^libraries\/anari\/?$ "https\:\/\/mousepawmedia\.com\/projects\/libraries\/anari" [L]
Redirect 301 /anari /libraries/anari
Redirect 301 /projects/anari /libraries/anari

RewriteRule ^libraries\/pawlib\/?$ "https\:\/\/mousepawmedia\.com\/projects\/libraries\/pawlib" [L]
Redirect 301 /pawlib /libraries/pawlib
Redirect 301 /projects/pawlib /libraries/pawlib

RewriteRule ^libraries\/ratscript\/?$ "https\:\/\/mousepawmedia\.com\/projects\/software\/ratscript" [L]
Redirect 301 /ratscript /libraries/ratscript
Redirect 301 /projects/ratscript /libraries/ratscript

RewriteRule ^libraries\/simplexpress\/?$ "https\:\/\/mousepawmedia\.com\/projects\/libraries\/simplexpress" [L]
Redirect 301 /simplexpress /libraries/simplexpress
Redirect 301 /projects/simplexpress /libraries/simplexpress

RewriteRule ^libraries\/trailcrest\/?$ "https\:\/\/mousepawmedia\.com\/projects\/libraries\/trailcrest" [L]
Redirect 301 /trailcrest /libraries/trailcrest
Redirect 301 /projects/trailcrest /libraries/trailcrest

RewriteRule ^libraries\/stormsound\/?$ "https\:\/\/mousepawmedia\.com\/projects\/libraries\/stormsound" [L]
Redirect 301 /stormsound /libraries/stormsound
Redirect 301 /projects/stormsound /libraries/stormsound

RewriteRule ^participate\/?$ "https\:\/\/mousepawmedia\.com\/projects\/developers" [L]
Redirect 301 /getinvolved /participate

RewriteRule ^participate\/internships$ "https\:\/\/mousepawmedia\.com\/internships" [L]
Redirect 301 /careers /participate/internships
Redirect 301 /getinvolved/internships /participate/internships
Redirect 301 /internships /participate/internships
Redirect 301 /jobs /participate/internships

RewriteRule ^participate\/opensource\/?$ "https\:\/\/mousepawmedia\.com\/developers" [L]
Redirect 301 /getinvolved/opensource /participate/opensource
Redirect 301 /opensource /participate/opensource

RewriteRule ^resources\/?$ "https\:\/\/mousepawmedia\.com\/resources" [L]

RewriteRule ^resources/standards\/?$ "https\:\/\/mousepawmedia\.com\/projects\/standards" [L]
Redirect 301 /standards /resources/standards

RewriteRule ^resources/education\/?$ "https\:\/\/mousepawmedia\.com\/resources" [L]
Redirect 301 /education /resources/education

RewriteRule ^resources/education/yellowsheets\/?$ "https\:\/\/mousepawmedia\.com\/resources\/yellowsheets" [L]
Redirect 301 /yellowsheets /resources/education/yellowsheets
Redirect 301 /labs/yellowsheets /resources/education/yellowsheets
