.home .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem var(--side-padding);
  width: 100%;
  margin: 2rem auto;
}
.cards a {
  margin: 0 1.5rem;
  margin-bottom: 3rem;
}
.home .card {
  position: relative;
  height: 300px;
  padding: 1rem 0;
  margin: 0;

  border-radius: 16px 16px 0 0;
  box-shadow: #00000026 5px 5px 7px;
  text-align: center;
  min-width: 280px;
  width: 80vw;
  max-width: 400px;
}
.home .card:hover .tab {
  background-color: var(--color-pink);
}
.home .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin: 2rem auto 0 auto;
}
.home .card .title {
  font-weight: 800;
  font-size: 18px;
  margin: 1rem 0;
}
.home .card .tab {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 5px solid var(--color-black);
  background-color: var(--color-yellow);
  font-weight: 600;
  padding: 3px 0;
}

.card .content {
  max-width: 80%;
  margin: 0 auto;
}
.card .content p {
  text-align: center;
  font-weight: 600;
}
.card:not(.projects) p {
  padding: 0.5rem 0;
}
.card.projects .content {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  justify-content: center;
  margin: 0 auto;
}
.card.projects .content .row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .home .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home .card {
    width: 50%;
    min-width: 300px;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .home .cards {
    justify-content: center;
    padding: 0;
  }
  .home .card {
    min-width: 0px;
    width: 220px;
  }
  .card .content {
    max-width: 100%;
  }
}
