/* mobile first */
.carousel {
  position: relative;
  width: 100%;
  height: 60vw;
  max-height: 300px;
  margin: 0rem auto;
  padding: 2rem 0;
  background-color: var(--color-yellow-75);
  /* background-color: var(--color-yellow); */
  /* border-radius: 1.5rem; */
  /* overflow: hidden; */
}
.carousel-dots {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.carousel-dot {
  background-color: black;
  margin: 0 5px;
  border-radius: 100%;
  height: 0.8rem;
  width: 0.8rem;
}
.carousel-dot.active {
  border: 2px solid var(--color-white);
}
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem 2.5rem;
  animation: fade 1.5s;
  line-height: 1.2;
}
.carousel-item img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.carousel-content {
  padding: 1rem 0;
}
.carousel-text {
  font-size: var(--16px);
  font-weight: 600;
}
.item2 .carousel-text {
  font-size: var(--14px);
}
.carousel-subtext {
  font-size: var(--10px);
  font-weight: 600;
  border-bottom: 2px solid var(--color-white);
  padding-right: 5px;
  padding-bottom: 1px;
}

.carousel-button {
  display: block;
  align-self: flex-end;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  font-size: var(--10px);
  font-weight: 600;
  border-radius: 4px;
  margin: 0.5rem 0;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  cursor: pointer;
  background-color: var(--color-white-75);
  padding: 5px;
}
.prev img,
.next img {
  height: 1.2rem;
  width: 1.2rem;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}

.item1 {
}
.item2 {
}
.item3 {
}

@keyframes fade {
  /* from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  } */
}
