/* mobile first */
.carousel {
  position: relative;
  width: 100%;
  max-width: var(--container-max-width);
  height: 220px;
  margin: 0rem auto;
  padding: 2rem 0;
  background-color: var(--color-yellow-75);

  /* background-color: var(--color-yellow); */
  /* border-radius: 1.5rem; */
  /* overflow: hidden; */
}
.carousel-dots {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
}
.carousel-dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  margin: 0 5px;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
}
.carousel-dot.active {
  background-color: var(--color-white);
}
.carousel-dot.active::after {
  content: "";
  background-color: var(--color-black);
  border-radius: 100%;
  height: 80%;
  width: 80%;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  cursor: pointer;
  background-color: var(--color-white-75);
  padding: 5px;
}
.prev img,
.next img {
  height: 1.2rem;
  width: 1.2rem;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}

@media screen and (min-width: 376px) {
  .carousel {
    height: 250px;
  }
  .prev img,
  .next img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media screen and (min-width: 426px) {
  .carousel {
    height: 280px;
    width: calc(100vw - (var(--side-padding) * 2));
    /* margin-top: var(--side-padding); */
    border-radius: 40px;
  }
}
@media screen and (min-width: 769px) {
  .carousel {
    height: 300px;
    width: calc(100vw - (var(--side-padding)));
    margin-top: 0;
  }
  .carousel-dot {
    margin: 0 8px;
  }
  .prev img,
  .next img {
    height: 2rem;
    width: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  .carousel {
    overflow: hidden;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
