/* MOBILE FIRST */
header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: var(--side-padding);
}
.logo {
  display: none;
}
.logo.mobile {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
}
nav {
  display: none;
}
.toggle-menu-button {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.toggle-menu-button img {
  display: none;
}
.toggle-menu-button img.visible {
  display: block;
}

/* tablet size */
@media only screen and (min-width: 769px) {
  .toggle-menu-button {
    display: none;
  }
  .logo {
    display: flex;
    width: 10rem;
  }
  .logo.mobile {
    display: none;
  }
  header nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 var(--side-padding) 0 0;
  }
  header nav.menu a {
    margin-right: 1rem;
  }
  /* internship hover dropdown element */
  header nav div {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  /* caret svg rotate on hover */
  header nav img {
    height: 1.25rem;
    margin-top: 3px;
  }
  header nav div:hover img {
    transform: rotate(180deg);
  }
  header nav.submenu {
    display: none;
  }
  header nav.submenu a {
    padding: 0.5rem;
    margin-right: 0;
    font-size: var(--16px);
  }
  /* show submenu on hover */
  header nav div:hover nav.submenu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    border-color: var(--color-black);
  }
}
