.menu {
  display: none;
}
.menu.open {
  display: flex;
  flex-direction: column;
}
.menu a,
.menu button {
  width: 100%;
  font-size: var(--18px);
  text-align: center;
}

/* tablet size */
@media only screen and (min-width: 769px) {
  .menu,
  .menu.open {
    display: none;
  }
}
