/* mobile menu component outside of header */

.menu {
  display: none;
}
.menu.open,
.submenu.open {
  display: flex;
  flex-direction: column;
}
.menu a,
.menu button {
  padding: 1rem 0;
  font-size: var(--18px);
  text-align: center;
}
.menu a.active,
.menu button.active {
  background-color: var(--color-pink);
}
.menu button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu button span {
  position: relative;
}
.menu button span img {
  position: absolute;
  top: 0;
  right: -20px;
  height: 1.25rem;
  margin-top: 5px;
}
.menu button span img.open {
  transform: rotate(180deg);
  margin-top: 4px;
}

/* tablet size */
@media only screen and (min-width: 769px) {
  .menu,
  .menu.open {
    display: none;
  }
}
