/* Source Sans Pro */
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Black.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf");
  font-weight: 200;
}
/* Day One */
@font-face {
  font-family: "DaysOne";
  src: url("../fonts/DaysOne/DaysOne.ttf");
  font-weight: 400;
}

p,
a,
button {
  font-size: var(--17px);
}
body {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--color-text);
}
header nav,
nav.menu {
  font-family: var(--heading-font);
  font-weight: 600;
}
