html {
  /* colors */
  --color-white: #ffffff;
  --color-white-75: #ffffffbf;
  --color-black: #000000;
  --color-yellow: #ffcb05;
  --color-yellow-75: #ffcd05bf;
  /* --color-yellow: #ffc700; (color in penpot)*/
  --color-pink: #ffad95;
  /* --color-pink: #ffb39b; (color in penpot)*/
  --color-text: #000000;

  /* --color-background: #ffffff;
  --color-blurred-background: #ffffff;
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-tertiary: #ffffff;
  --color-decorative: #ffffff;
  --color-muted: #ffffff; */

  /* fonts */
  --body-font: "Source Sans Pro", sans-serif;
  --heading-font: "DaysOne", sans-serif;

  /* accessible font sizing */
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;

  /* spacing */
  --header-height: 4rem;
  --side-padding: 1.5rem;
}

/* reassign variables based on media size */
/* tablet size */
@media only screen and (min-width: 769px) {
  html {
    --header-height: 6rem;
  }
}
